html{
  font-size: 62.5% ; 
  box-sizing: border-box; /* better format boxes like divs and set their margin, width, and padding */
}
body{
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

#root{
  height: 100%;
}

.grid-container{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100vh;
}

.header{
  grid-area: header;
  background-color: #00BFFF;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.book-search a{
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
}

.brand a{
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}

.header-links a{
  color: #ffffff;
  text-decoration: none;
}

.header-links a:hover{
  color: 	#FF69B4;
}

.main{
  grid-area: main;
}

.footer{
  grid-area: footer;
  background-color: #00BFFF;
  color:#ffffff;
  display: flex;
  justify-content: center;
  align-items:center;
}

a{
  text-decoration: none;
}

a:hover{
  color: #FF69B4
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: .1rem #c0c0c0 solid;
}

.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100% ;
}

.product-name {
  font-size: 2rem;
  font-weight: bold;
}

.product-brand{
  font-size: 1.2rem;
  color: #808080;
}

.product-price{
  font-size: 2rem;
  font-weight:bold;
}

.product-image{
  max-width: 34rem;
  max-height: 34rem;
}

.product-rating{
  margin-bottom: 1rem;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: darkblue;
}

.dropdown {
  position: relative;
  right: 80px;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}