html{
  font-size: 62.5% ; 
  box-sizing: border-box; /* better format boxes like divs and set their margin, width, and padding */
}
body{
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

#root{
  height: 100%;
}

.grid-container{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100vh;
}

.header{
  grid-area: header;
  background-color: #00BFFF;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.book-search a{
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
}

.brand a{
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}

.header-links a{
  color: #ffffff;
  text-decoration: none;
  margin: 20px;
}

.header-links a:hover{
  color: 	#FF69B4;
}

.main{
  grid-area: main;
}

.footer{
  grid-area: footer;
  background-color: #00BFFF;
  color:#ffffff;
  display: flex;
  justify-content: center;
  align-items:center;
}

a{
  text-decoration: none;
}

a:hover{
  color: #FF69B4
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: .1rem #c0c0c0 solid;
}

.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100% ;
}

.product-name {
  font-size: 2rem;
  font-weight: bold;
}

.product-brand{
  font-size: 1.2rem;
  color: #808080;
}

.product-price{
  font-size: 2rem;
  font-weight:bold;
}

.product-image{
  max-width: 34rem;
  max-height: 34rem;
}

.product-rating{
  margin-bottom: 1rem;
}


.dropbtn:hover, .dropbtn:focus {
  background-color: darkblue;
}

.dropdown {
  position: relative;
  right: 80px;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
.Atc-button {
  margin-left: 70px;
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color:#33bdef;
  border-radius:17px;
  border:0px solid #057fd0;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family: Helvetica;
  font-size:12px;
  font-weight:bold;
  padding:9px 26px;
  text-decoration:none;
  text-shadow:0px -1px 0px #5b6178;
}
.Atc-button:hover {
  background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  background-color:#019ad2;
}
.Atc-button:active {
  position:relative;
  top:1px;
}
.Cart {
  font-family: helvetica;
  color: black;
  position: absolute;
  margin-top: 100px;
  margin-left: -75%;
}

.WishList {
  font-family: helvetica;
  color: black;
  position: absolute;
  margin-top: 100px;
  margin-left: -75%;
}

.Reviews {
  font-family: helvetica;
  color: black;
  position: absolute;
  margin-top: 100px;
  margin-left: -75%;
} 

/* Book Details */
.details{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
 
}

.details-image{
  flex: 2 1 60rem;
}

.details-image img{
  max-width: 60rem;
  max-height: 40rem;
  widows:100%;
}

.details-info{
  flex: 1 1 30rem;
}

.author-info{
  flex: 1 1 30rem;
  padding-right: 30rem;
  padding-left: 9rem;
}

.details-action{
  flex: 1 1 30rem;
}

.details-info ul, .details-action ul, .author-info ul{
  list-style-type: none;
  padding: 0;
}

.details-info ul, .details-action ul, .author-info ul{
margin-bottom: 1rem;
}

.back-to-home{
  padding: 1rem;
}

.details-action{
  border: .1rem #808080 solid;
  border-radius: 0.5 rem;
  background-color: #f8f8f8;
  padding: 1rem;
}

