html{
  font-size: 62.5% ; 
  box-sizing: border-box; /* better format boxes like divs and set their margin, width, and padding */
}
body{
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

#root{
  height: 100%;
}

.grid-container{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100vh;
}

.header{
  grid-area: header;
  background-color: #00BFFF;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.book-search a{
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
}

.brand a{
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}

.header-links a{
  color: #ffffff;
  text-decoration: none;
  margin: 20px;
}

.header-links a:hover{
  color: 	#FF69B4;
}

.main{
  grid-area: main;
}

.footer{
  grid-area: footer;
  background-color: #00BFFF;
  color:#ffffff;
  display: flex;
  justify-content: center;
  align-items:center;
}

a{
  text-decoration: none;
}

a:hover{
  color: #FF69B4
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: .1rem #c0c0c0 solid;
}

.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100% ;
}

.product-name {
  font-size: 2rem;
  font-weight: bold;
}

.product-brand{
  font-size: 1.2rem;
  color: #808080;
}

.product-price{
  font-size: 2rem;
  font-weight:bold;
}

.product-image{
  max-width: 34rem;
  max-height: 34rem;
}

.product-rating{
  margin-bottom: 1rem;
}

/*============*/

.nav{
  background-color: lightskyblue;
  display: flex;
  align-items: center;
}

.menu-cnt > li{
  display: inline-block;
  background-color: lightskyblue;
  padding: 3px 5px;
  transition: all 0.8s ease;
  position: relative;
}

.menu-cnt li:hover{
  cursor: pointer;
  background-color: blue;
  padding-right: 40px;

}

ul{
  list-style: none;
}

.dropdown {
  cursor: pointer;
  display:none;
  position: absolute;
  width: 100%;
  background-color: lightblue;
  z-index: 1;
  padding: 0%;
}

.dropdown li{
  background-color: lightblue;
}

.dropdown.active{
  display: block;
  background-color: lightblue;
  padding-right: 30px;
}


/*============*/

.Atc-button {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color:#33bdef;
  border-radius:17px;
  border:0px solid #057fd0;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family: Helvetica;
  font-size:12px;
  font-weight:bold;
  padding:9px 26px;
  text-decoration:none;
  text-shadow:0px -1px 0px #5b6178;
  margin-top: 30px;
  margin-bottom: 30px;
}
.Atc-button:hover {
  background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  background-color:#019ad2;
}
.Atc-button:active {
  position:relative;
  top:1px;
}
.Cart {
  font-family: helvetica;
  color: black;
  position: absolute;
  margin-top: 100px;
  margin-left: -75%;
}

.WishList {
  font-family: helvetica;
  color: black;
  position: absolute;
  margin-top: 100px;
  margin-left: -75%;
}
.Wls-button {
  margin-left: 70px;
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color:#33bdef;
  border-radius:17px;
  border:0px solid #057fd0;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family: Helvetica;
  font-size:12px;
  font-weight:bold;
  padding:9px 26px;
  text-decoration:none;
  text-shadow:0px -1px 0px #5b6178;
}
.Wls-button:hover {
  background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  background-color:#019ad2;
}
.Wls-button:active {
  position:relative;
  top:1px;
}


.Reviews {
  font-family: helvetica;
  color: black;
  position: absolute;
  margin-top: 100px;
  margin-left: -75%;
} 

/* Book Details */
.details{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
 
}

.details-image{
  flex: 2 1 60rem;
}

.modal-image{
  max-width: 100rem;
  max-height: 100rem;
  widows:100%;
}

.modal-button{
  width:200px;              
  height:100px;
  background-color:lightblue;
  color:black;
  font-weight:bold;
  padding: 0;
  margin: 0;
  display: inline-flexbox;
  position: relative;
}

.details-image img{
  max-width: 60rem;
  max-height: 40rem;
  widows:100%;
}



.details-info{
  flex: 1 1 30rem;
}

.author-info{
  flex: 1 1 30rem;
  padding-right: 30rem;
  padding-left: 9rem;
}

.details-action{
  flex: 1 1 30rem;
}

.details-info ul, .details-action ul, .author-info ul{
  list-style-type: none;
  padding: 0;
}

.details-info ul, .details-action ul, .author-info ul{
margin-bottom: 1rem;
}

.back-to-home{
  padding: 1rem;
}

.details-action{
  border: .1rem #808080 solid;
  border-radius: 0.5 rem;
  background-color: #f8f8f8;
  padding: 1rem;
}

.cart-items {
  position: absolute;
  margin-top: -20px;
  margin-left: 70px;
  }
  
  
  .Cart {
  position: absolute;
  font-family: helvetica;
  color: black;
  position: absolute;
  margin-top: 100px;
  margin-left: -260%;
  }
  
  .cart-list-container {
  padding: 0;
  list-style-type: none ;
  }
  
  .cart-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  }
  
  .cart-list-container li {
   
  
  margin-bottom: 1 rem;
  border-bottom: .1rem #808080 solid;
  }
  
  .Checkout {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color:#33bdef;
  border-radius:10px;
  border:1px solid #057fd0;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:14px;
  font-weight:bold;
  padding:13px 32px;
  text-decoration:none;
  text-shadow:0px 0px 0px #5b6178;
  }
  .Checkout:hover {
  background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  background-color:#019ad2;
  }
  .Checkout:active {
  position:relative;
  top:1px;
  }
  
  .remove{
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color:#33bdef;
  border-radius:10px;
  border:1px solid #057fd0;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:10px;
  font-weight:bold;
  padding: 5px 10px;
  text-decoration:none;
  text-shadow:0px 0px 0px #5b6178;
  }
  .Cart-img{
  height: 150px;
  padding: 1rem;
  }
  
  
  .Cart-name{
  position: absolute;
  margin-top: -100px;
  margin-left: 150px;
  }
  
  .cart-text {
  position: absolute;
  color: black;
  margin-left: -1200px;
  margin-top: 100px;
  }
  
  .Cart-Price{
  position: absolute;
  margin-left: 1100px;
  margin-top: -94px;
  }
  
  .Cart-total{
  position: relative;
  margin-top: 15%;
  margin-left: 1000px;
  }
  
  .Checkout{
  position: relative;
  
  margin-left: 1100px;
  }

